---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Roboto',"Helvetica Neue", Helvetica, Arial, sans-serif;

$tiny-font-size: 0.75rem; // 12px
$base-font-size: 1rem;  // 16px
$small-font-size: 1.125rem; //18px
$med-font-size: 1.5rem; // 24px 
$big-font-size: 2.625rem; // 42px

$content-middot: "\2022";

$base-font-weight: 400;
$base-line-height: 1.5;

$spacing-unit:     2rem;
$spacing-overlaybar: 5.625rem; // 90px
$hero-min-height: 70vh;
$line-width: 1px;

$text-color:       #000;
$background-color: #fdfdfd;
$brand-color:      #8a7e70;

$primary-color: #FFA682; // peach
$secondary-color: #9F826B; // bronze
$third-color: #C9D1CB; // olive
$black: #141414;
$white: #FFF;

$grid-gap: $spacing-unit;
$animation-speed: 200ms;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "base" ;

@media screen and (min-width: 767px) {
    @import "768up" ;
}
