---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
font-family: 'Atlas Grotesk Web';
src: url("../fonts/AtlasGrotesk-Regular-Web.eot");
src: url("../fonts/AtlasGrotesk-Regular-Web.eot?#iefix") format("embedded-opentype"), url("../fonts/AtlasGrotesk-Regular-Web.woff2") format("woff2"), url("../fonts/AtlasGrotesk-Regular-Web.woff") format("woff");
font-weight: 400;
font-style: normal;
font-stretch: normal; }

@font-face {
  font-family: 'bluu';
  src: url('../fonts/bluunext-bold-webfont.woff2') format('woff2'),
  url('../fonts/bluunext-bold-webfont.woff') format('woff'),
  url('../fonts/bluunext-bold.ttf') format('truetype'),
  url('../fonts/bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ff-century {
    font-family: "bluu";
}

.ff-sans {
    font-family: "Atlas Grotesk Web";
}

// Our variables
$base-font-family: 'Atlas Grotesk Web',"Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-century: "bluu";
$ff-sans: "Atlas Grotesk Web";

$tiny-font-size: 0.75rem; // 12px
$base-font-size: 1rem;  // 16px
$small-font-size: 1.125rem; //18px
$med-font-size: 1.5rem; // 24px
$big-font-size: 2.625rem; // 42px

$content-middot: "\2022";

$base-font-weight: 400;
$base-line-height: 1.2;

$spacing-unit:     2rem; // 32px;
$spacing-overlaybar: 5.625rem; // 90px

$grid-gap: $spacing-unit; // legacy

$max-menu-width: 375px;
$animation-speed: 100ms;

// home hero carousel height
$hero-min-height: calc(100vh - 90px);

// buttons and ... lines
$line-width: 1px;

$text-color:       #000;
$background-color: #fdfdfd;
$brand-color:      #8a7e70;

$primary-color: #FFA682; // peach
$primary-color-highlight: #FFC9B4; // peach

$secondary-color: #9F826B; // bronze
$secondary-color-highlight: #9F826B; // bronze

$third-color: #C9D1CB; // olive
$third-color-highlight: #FFC9B4; // olive


$black: #141414;
$white: #FFF;


// Import partials from `sass_dir` (defaults to `_sass`)
@import "base" ;

@media screen and (min-width: 767px) {
    @import "768up" ;
}

@media screen and (min-width: 1030px) {
    @import "1030up" ;
}

@media screen and (min-width: 1440px) {
    @import "1440up" ;
}
