---
layout: default
---

<header class="section-header" >
  <!-- used as css background, for loading priority only -->
  <img src="./img/backgrounds/RTN_18_BG_1_Copy_9.jpg" alt="" style="display:none;">

  <div class="page-header">
      <div class="wrap desktop-header">
        <div class="">
          <a class="site-title" href="{{ site.url }}{{ site.baseurl }}/">
            {{ site.title }}
          </a>

          <p class="site-subtitle">
            <span>September 27-28,</span>
            <span>Berlin</span>
          </p>
        </div>
      </div>
      <!-- <a href="{{ site.baseurl }}/tickets.html" class="get-ticket">get ticket!</a> -->
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 ">
          {% include hero-carousel.html %}
      </div>
    </div>
  </div>

</header>

<section class="section-about">
  <div class="container-fluid">
      <p class="section-title section-title__about">Recap Movie</p>
      <div class="section-body">
        <div class="embed-responsive embed-responsive-16by9 mt-4">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/303126522" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>


        <p class="section-title section-title__about">About</p>
        <div class="section-body">
          <p>
            The Retune Festival is a biennial event at the intersection of art, design, and technology. In its fifth edition, Retune will bring together more than 500 intrepid minds across 2 days.
          </p>

          <p>
            Day 0 / 26. September: <span class="ff-century">Warm Up evening from 19h taking place at Sehsucht (Schönhauser Allee 149, 10435 Berlin).</span> Pass by, meet your fellow festival goers, grab a beer and get your festival bag!
          </p>

          <p>
            Day 1 / 27. September: <span class="ff-century">Conference Day with keynotes, talk and panel discussions, performances and installations, taking place at Silent Green (Gerichtstraße 35, 13347 Berlin).</span>  The day is moderated by Alexandra Wolf & Fernanda Parente from Selektor and Christian Zöllner from The Constitute.
          </p>

          <p>
            Day 2 / 28. September: <span class="ff-century">Satellite Day with workshops, studio visits, exhibitions and a closing party taking place all over Berlin.</span>
          </p>

          <p class="small ff-century">
            The Festival is a “think-and-do-tank” and explores the speculative futures of our digital society.  Internationally renowned creatives , researchers, and engineers working on latest technologies will share their inspirational insights in talks and panels. Get your hands on in workshops and experiment with future ideas and technologies. Experience and immerse yourself into digital art with installations, exhibitions and performance. And exchange with interdisciplinary creative pioneers.
          </p>

          <p class="small">
            Expect a whole lot of design friction, glitched visions and real future shit.
          </p>

        </div>


  </div>
</section>


<section class="section-program text-center">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 ">
            <h2 class="section-title section-title__program">Talks, Discussions, Workshops,<br> Studio Visits and Performances</h2>
        </div>
      </div>
    </div>

    <div class="">
      <h3 class="section-subtitle">Talks</h3>

      {% assign eventsSorted = site.events | where:"featured","true" | sort: 'order','last' %}
      {% assign events = "" | split: ',' %}
      {% for event in eventsSorted %}
        {% assign workshop-day = '2018-09-28' | date: '%s' %}
        {% assign event-day = event.eventdate | date: '%s' %}

        {% if event.type == "talk" or event.type == "keynote" or event.type == "panel" %}
          {% if event-day < workshop-day %}
            {% assign events = events | push: event %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% include event-carousel.html %}
    </div>


    <div class="">
      <h3 class="section-subtitle">Exhibitions and Performances</h3>

      {% assign lovejekyll = site.events | where:"featured","true" | sort: 'order','last' %}
      {% assign events = "" | split: ',' %}

      {% for event in lovejekyll  %}
         {% if event.type == 'installation & performance' or event.type == 'performance' or event.type == 'installation' or event.type == 'exhibition' %}
            {% assign events = events | push: event %}
         {% endif %}
      {% endfor %}

      {% include event-carousel.html %}

    </div>

    <div class="">
      <h3 class="section-subtitle">Satellites</h3>
      {% assign eventsSorted = site.events | where:"featured","true" | sort: 'order','last' %}
      {% assign events = "" | split: ',' %}
      {% for event in eventsSorted %}
        {% assign workshop-day = '2018-09-28' | date: '%s' %}
        {% assign event-day = event.eventdate | date: '%s' %}

        {% if event.type == "workshop" or event.type == "talk" %}
          {% if event-day >= workshop-day %}
            {% assign events = events | push: event %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% include event-carousel.html %}
    </div>

</section>


<section class="section-tickets">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title">Tickets</h2>
          <p>
            All festival passes include access to the Conference Day on Sep 27th at Silent Green, the Performance Night, two Workshops from the Satellite Program on Sep 28th and the Festival Closing at STATE Studio.
          </p>
          <div class="ticket-button-wrap">

          <tito-button event="retune/retune-festival-2018" releases="jijmzestkaq">
            <span class="ticket-title">Regular <br />Pass</span>
            <span class="description">You are either an artist, a freelancer new to the business, starting your own thing or you're in an otherwise precarious working situation. You have never heard of a thing called "pension insurance". We've been there :) This ticket is for you.</span>
            <span class="price">99€</span>
          </tito-button>

          <tito-button event="retune/retune-festival-2018" releases="pqr6vzmqing">
            <span class="ticket-title">Professional <br />Pass</span>
            <span class="description">You are in a regular job (e.g. working in industry, an agency, consultancy or cultural institution) or your freelancing has reached a professional level.</span>
            <span class="price">199€</span>
          </tito-button>

          <tito-button event="retune/retune-festival-2018" releases="jcd6mknoigm">
            <span class="ticket-title">Professional<br />Plus Pass</span>
            <span class="description">This professional pass includes breakfast, lunch, coffee, softdrinks and beer on the conference day. Also you'll receive an invitation to the exclusive Festival Reception together with the artists, the team, snacks and drinks. Plus: free drinks at the closing party, and a BVG day-pass for the Satellite Day! This ticket can be paid via invoice.</span>
            <span class="price">349€</span>
          </tito-button>

          <tito-button event="retune/retune-festival-2018" releases="hjq0wop-qne">
            <span class="ticket-title">Student <br />Pass</span>
            <span class="description">You own a legal and valid student card and you bring it with you to the registration. Otherwise you will have to pay the price difference to the regular ticket at the door.</span>
            <span class="price">69€</span>
          </tito-button>

          </div>

          <div class="ticket-content-wrap">
            <p class="text-color-primary">All prices include 19% VAT. If you think, you shouln't have to pay the German VAT or if you have other questions, get in touch with: tickets/at/retune.de</p>
            <p>
              Some parts of the festival can also be attended without a full festival pass. Look out for events marked as "public" and make sure to sign up beforehand.
            </p>
          </div>

        </div>
      </div>

    </div>
</section>

<section class="section-about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title">Contact & Team</h2>
          <p>
            Questions? <span class="ff-century">Get in touch with: wft / at / retune.de</span>
          </p>
          <p style="margin-bottom: 2rem;">
            Want to stay in touch? <span class="ff-century">Sign up for our <a href="http://eepurl.com/oAiGz" target="_blank">Newsletter</a> and follow us on <a href="http://instagram.com/retuneberlin" target="_blank">Instagram</a>, <a href="https://www.facebook.com/retuneberlin" target="_blank">Facebook</a> and <a href="https://twitter.com/retuneberlin" target="_blank">Twitter</a>!</span>
          </p>
          <p>
            The Retune Festival is a project by <a href="https://retune.de" target="_blank">Retune Creative Technology GmbH</a>.
          </p>
          <p>
            Julian Adenauer (founder & director), Jasmin Grimm (program directress), Wiebke Holtermann (head of production), Nushin Isabelle Yazdani (design & volunteer management), Merani Schilcher (social media).<br />
            Graphic Design by <a href="http://www.studio-regular.com" target="_blank">Studio Regular</a>, Coding by <a href="https://streiten.org">Alex Tolar</a>.<br /><br />
            Fonts: <span class="ff-century">Bluu Next</span> by Jean-Baptiste Morizot (via <a href="https://www.velvetyne.fr/" target="_blank">Velvetyne</a>) and Atlas Grotesk.
          </p>

          </p>
        </div>
      </div>
    </div>
</section>



<section class="section-program-button-hit-me-one-more-time">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 ">
        <h2 class="section-title ff-century">Full Programm</h2>
      </div>
    </div>
  </div>
</section>

<section class="section-partners">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-title">Partners</h2>


        <div class="grid grid__partners">
          {% for partner in site.data.partners %}
            <a href="{{ partner.url }}" target="_blank">
              <div class="partner-logo-wrap">
                  {% picture {{ partner.img }} class="partner-logo" %}
              </div>
            </a>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container-fluid event-page-content-section">
  {% include footer.html %}
</div>
