<div class="event-carousel-wrap">
  <div class="event-carousel">
    {% for event in events %}
      <div class="carousel-cell">

        {% if event.imagefolder %}
        {% assign images = "" | split: ',' %}
          {% for image in site.static_files %}
             {% if image.path contains event.imagefolder %}
                {% assign images = images | push: image %}
             {% endif %}
          {% endfor %}
        {% endif %}

        {% for img in images %}
          {% if forloop.first %}
          {% picture carousel-size {{ img.path }} class="carousel-image" %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="event-carousel-nav">
    {% for event in events %}
      <h4 class="event-host event-carousel-nav-item">
        <a href="{{ event.url }}" class="ajax-to-overlay" >
          {% if event.type == "workshop" %}
            {{ event.eventtitle }} <span style="font-size: 13px;">– {{ event.host }}</span>
          {% else %}
            {{ event.host }}
          {% endif %}
        </a>
      </h4>
    {% endfor %}
  </div>
</div>
