<ul class="event-list list-unstyled">

  {% for event in events %}

    {% assign workshop-day = '2018-09-28' | date: '%s' %}
    {% assign event-day = event.eventdate | date: '%s' %}
    {% if event-day < workshop-day %}
      {% assign day = "conferenceday" %}
    {% else %}
      {% assign day = "workshopday" %}
    {% endif %}

    <li data-id="{{ forloop.index0 }}" class="event-list-item event-list-item__{{ day }}">
        <div class="event-list-item-meta">
          <span class="time">{{ event.eventtime }}{% if event.eventstage %}, {{ event.eventstage }}{% endif %}
          </span>
          <span class="type type__{{ event.type }} status status__{{ event.eventstatus }}">{{ event.type }}</span>

          {% if event.eventstatus == "signup" %}
            <button class="button-signup" data-release="{{ event.eventtitorelease }}" data-event="{{ event.eventtitoevent }}">sign up</button>
          {% endif %}

        </div>
        <div class="event-list-item-head">
          <a href="{{ event.url }}" class="ajax-to-overlay" >

            {% if day == "conferenceday" %}
              <span class="host">{{ event.host }}</span>
              <span class="title">» {{ event.eventtitle }} «</span>
            {% else %}
              <span class="host">{{ event.host }}</span>
              <span class="title">» {{ event.eventtitle }} «</span>
              <!-- <span class="title">{{ event.eventtitle }}</span><br>
              <span class="host">by {{ event.host }}</span>
              <span class="location">{{ event.eventlocation }}, {{ event.eventaddress }} </span> -->
            {% endif %}
          </a>
        </div>
    </li>

  {% endfor %}

</ul>
