<script src="{{ site.github.url }}/js/vendor/jquery-3.1.1.min.js"></script>
<script src="{{ site.github.url }}/js/vendor/bootstrap.min.js"></script>
<script src="{{ site.github.url }}/js/vendor/flickity.pkgd.min.js"></script>

<!-- <script src="{{ site.github.url }}/js/vendor/mapbox-gl.js"></script>
 --><script src="{{ site.github.url }}/js/vendor/js.cookie.min.js"></script>
<script src="{{ site.github.url }}/js/vendor/plyr.min.js"></script>
<!-- <script src="{{ site.github.url }}/js/vendor/navigo.min.js"></script>
 -->
<script src="{{ site.github.url }}/js/mapController.js"></script>
<script src="{{ site.github.url }}/js/app.js"></script>

<script>
  $( document ).ready(function() {
    var app = new RetuneFestival();
  });
</script>
