<div class="carousel hero-carousel">

  <div class="carousel-cell ">
    <span class="retune">Retune </span>
    <span class="festival">Festival </span>

    
    <div class="for-art">
      <span class="subs for">for </span>
      <span class="art century">Art, </span>
    </div>

    <span class="technology">Technology, </span>

    <div class="and-design">
      <span class="subs and">and </span>
      <span class="design">Design</span>
    </div>

  </div>
  
  <div class="carousel-cell">

    <div class="intro intro-1">The Retune Festival is
      a biennial event at the
      intersection of Art,
      Design and Technology.
    </div>

    <div class="intro intro-2">From September  27–28, 2018 the 
      Festival will bring 
      together over 500
      creative pioneers 
      across 2 days.
    </div>
  </div>

  <div class="carousel-cell">

    <div class="talks">Talks,</div>
    
    <div class="installations">
      Installations <br>
      and <br>
      Performances
    </div>

    <div class="satellites">
      <span class="subs">and</span>
      Satellites <br>
      across Berlin
    </div>
  </div>
</div>