<section class="overlay overlay-signup">

  {% include overlay-head.html type="signup" title="Workshop" sub="Sign up" %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <form class="ticket-code-form">
            <div class="form-group">
                <p id="ticket-codeHelp"> In order to sign up for a workshop you need a festival ticket. Please enter your ticket code here. It can be found in the order confirmation e-mail you got from us.
                </p>
                <input type="text" class="form-control" id="ticket-code" aria-describedby="ticket-codeHelp" placeholder="XXX-XXX" required >
            </div>
            <button type="submit" class="btn btn-primary">Next</button>
          </form>

          <div id="rt-tito-widget"></div>

        </div>
      </div>
    </div>
  </div>
</section>
