<section class="overlay overlay-menu">
    <div class="container-fluid">
      
      <div class="row overlay-head overlay-head__program">
        
        <div class="wrap">
          <span class="title">Program</span><br>
          <span class="sub">Conference & Satellite</span>
        </div>
        
        <button class="overlay-toggle text-hide">X</button>

      </div>

      <div class="row program-body">

        <div class="overlay-program-day-1">
          <span class="overlay-body-day-title">
            Day 1 – 27.9.2018
          </span>
          <span class="overlay-body-day-sub">
            Conference Day – @Silent Green
          </span>
          <div class="tabs">
            <button class="active">Main Stage</button>
            <button>Discussion Area</button>
          </div>
          
          <div class="col-md-6">
            {% assign events = site.events | where:"type","talk" | sort_natural: 'eventtime' %}
            {% include event-list.html %}
          </div>
          
          <div class="col-md-6">
            {% assign events = site.events | where:"type","panel" | sort_natural: 'eventtime' %}
            {% include event-list.html %}
          </div>
        
        </div>

        <div class="overlay-body-day-2">
          <span class="overlay-body-day-title">
            Day 2 – 28.9.2018
          </span>
          <span class="overlay-body-day-sub">
            Satellite Day (all across Berlin)
          </span>
          <!-- <div class="tabs">
            <button class="active">List</button>
            <button>Map</button>
          </div> -->
        </div>

          <div class="col-md-6 event-list-satellites">
            {% assign events = site.events | where:"type","workshop" | sort_natural: 'eventtime' %}
            {% include event-list.html %}
          </div>

          <div class="col-md-6">
            <script>
              var eventsGeoJson = {% include event-geojson.json %} ; 
            </script>
            <div id="event-map" class="event-map"></div>
          </div>

      </div>

    </div>
</section>
