<aside class="overlay overlay-signup">

  {% include overlay-head.html type="signup" title="Workshop" sub="Sign up" %}

    <div class="container-fluid">

      <form class="ticket-code-form">
        <div class="form-group">
            <p id="ticket-codeHelp"> In order to sign up for a workshop you need a festival pass. If you don't have one, you can get yours <a href="https://ti.to/retune/retune-festival-2018" target="_blank">👉 here</a>.<br /><br />
              Please enter your ticket code below. It consists of four letters and can be found in the order confirmation e-mail you got from us. It looks like something this "ABCD".
              The code is valid to sign up for two workshops for free (the day is not long enough for more anyway 😁). If you have problems, get in with touch: tickets/at/retune.de
            </p>
            <p id="ticket-codeHelp-public">
              You don't need a festival pass to take part in this event. But you need to register below.<br /><br />
              If you have a festival pass, you don't need to register and you can just go there!
            </p>
            <input type="text" class="form-control" id="ticket-code" aria-describedby="ticket-codeHelp" placeholder="ABCD" required >

        </div>
        <button type="submit" class="ticketCode-button btn btn-primary">Next</button>

      </form>

      <div id="rt-tito-widget"></div>

    </div>
  </div>
</aside>
