<aside class="overlay overlay-menu">

  {% include overlay-head.html type="program" title="Program" sub="Conference & Satellite" %}

  <div class="program-body">

   <!-- <ul class="list-unstyled list-inline nav-days" role="tablist">
     <li class="" ><a href="#prev" class="text-hide prev"> Prev </a>
     </li>
     <li>
       <a href="#next" class="text-hide next"> Next </a>
     </li>
   </ul> -->

    <div class="overlay-program-day active overlay-program-day__1">
      <div class="container-fluid">
        <div class="overlay-program-day-head">
          <span class="overlay-program-day-title">
            Day 1 &mdash; 27.9.2018
          </span>
          <span class="overlay-program-day-sub">
            Conference Day &mdash; @Silent Green
          </span>

          <ul class="list-unstyled list-inline nav-tab" role="tablist">
            <li class="active"><a data-toggle="tab" href="#mainstage" role="tab">Day 1, Sep 27th</a>
            </li>
            <li>
              <a class="" data-toggle="tab" href="#discussionarea" role="tab">Day 2, Sep 28th</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-content">
          <div class="tab-pane active" id="mainstage" role="tabpanel">
            <div class="container-fluid">

            {% assign events = site.events | where:"eventdate","2018-09-27" | sort_natural: 'eventtime' %}
            {% include event-list.html %}
            </div>
          </div>

          <div class="tab-pane " id="discussionarea" role="tabpanel">
            <div class="container-fluid">

            {% assign events = site.events | where:"eventdate","2018-09-28" | sort_natural: 'eventtime' %}
            {% include event-list.html %}
            <!-- {% assign events = site.events | where:"type","panel" | sort_natural: 'eventtime' %}
            {% include event-list.html %} -->
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="overlay-program-day overlay-program-day__2">
      <div class="container-fluid">
        <div class="overlay-program-day-head">
          <span class="overlay-program-day-title">
            Day 2 &mdash; 28.9.2018
          </span>
          <span class="overlay-program-day-sub">
            Satellite Day (all across Berlin)
          </span>

          <!--           <ul class="list-unstyled list-inline nav-tab" role="tablist">
          <li class="active"><a data-toggle="tab" href="#sattelitesList" role="tab">List</a> </li>
          <li><a class="" data-toggle="tab" href="#sattelitesMap" role="tab">Map</a></li>
          <ul> -->
        </div>
      </div>

      <div class="tab-content">
        <div class="container-fluid">

          <div class="tab-pane active event-list-satellites" id="sattelitesList" role="tabpanel">
            {% assign events = site.events | where:"eventdate","2018-09-28" | sort_natural: 'eventtime' %}
            {% include event-list.html %}
          </div>

          <div class="tab-pane " id="sattelitesMap" role="tabpanel">
            <script>
              var eventsGeoJson = {% include event-geojson.json %} ;
            </script>
            <div id="event-map" class="event-map"></div>
          </div>

        </div>
      </div>
    </div>

  </div>
</aside>
