<aside class="overlay overlay-menu">

  {% include overlay-head.html type="program" title="Program" sub="Conference & Satellite" %}

  <div class="program-body">

   <!-- <ul class="list-unstyled list-inline nav-days" role="tablist">
     <li class="" ><a href="#prev" class="text-hide prev"> Prev </a>
     </li>
     <li>
       <a href="#next" class="text-hide next"> Next </a>
     </li>
   </ul> -->
   <div class="container-fluid day-nav">
     <ul class="list-unstyled list-inline day-tab nav-tab" role="tablist">
       <li class="active"><a data-toggle="tab" href="#day1" role="tab">Day 1 &mdash; 27.9</a>
       </li>
       <li>
         <a class="" data-toggle="tab" href="#day2" role="tab">Day 2 &mdash; 28.9</a>
       </li>
     </ul>
   </div>

    <div class="tab-content">
      <div class="overlay-program-day overlay-program-day__1 tab-pane active" id="day1" role="tabpanel">
        <div class="container-fluid">
          <div class="overlay-program-day-head">
            <span class="overlay-program-day-title">
              Conference Day <br> @Silent Green
            </span>
          </div>
          {% assign events = site.events | where:"eventdate","2018-09-27" | sort_natural: 'eventtime' %}
          {% include event-list.html %}
        </div>
      </div>

      <div class="overlay-program-day overlay-program-day__2 tab-pane" id="day2" role="tabpanel">
        <div class="container-fluid">
          <div class="overlay-program-day-head">
            <span class="overlay-program-day-title">
              Satellite Day <br> (all across Berlin)
            </span>
          </div>

          {% assign events = site.events | where:"eventdate","2018-09-28" | sort_natural: 'eventtime' %}
          {% include event-list.html %}
          <!-- {% assign events = site.events | where:"type","panel" | sort_natural: 'eventtime' %}
          {% include event-list.html %} -->
        </div>
      </div>
    </div>

  </div>
</aside>
