body {
  max-width: calc(100% - #{$max-menu-width})
}

.container-fluid {
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;

}

.page-header {

  position: fixed;
  top: 0;
  width: calc(100% - #{$max-menu-width});
  z-index: 7000;
  background-color: $black;
  min-height: $spacing-overlaybar;

  display: flex;
  flex-direction:column;
  justify-content: center;
  padding-left: $spacing-unit;

  .site-title,.site-subtitle {
    position: relative;
    margin: 0;
    text-align: left;
  }

  .site-subtitle {
    font-family: $ff-century;
    &:before {
      content: $content-middot;
    }
  }

}

.body-content {
  margin-top: $spacing-overlaybar;
}

.page-generic {
  .body-content {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
  }
}

/*============================
=         HEAD / HERO        =
============================*/

.section-header {

  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 9.jpg');
  background-repeat: no-repeat;

  .hero-carousel {
   /* min-height: $hero-min-height;*/
  }

  .carousel-cell {
    padding-left: 1 * $spacing-unit;
    padding-right: 1 * $spacing-unit;

    /* min-height: $hero-min-height;*/
    /* padding-top: $spacing-overlaybar;*/
    /* padding-bottom: $spacing-overlaybar;*/

  }

  /* first frame*/
  .retune,
  .festival,
  .art,
  .technology,
  .design,
  .talks,
  .installations {
    font-size: 1.5 * $big-font-size;
  }

  .retune {

  }

  .festival {

  }

  .for-art,
  .and-design {

  }

  .technology {

  }

  .subs {
    font-size: 1.5 * $tiny-font-size;

  }

  .and-design .and {

  }

  /* second frame*/
 .intro {
    font-size: 1.5 * $med-font-size;

 }

 .intro-1 {
 }

 .intro-2 {

 }

 /* third frame*/
 .talks {
 }

  .installations {

  }

  .satellites {

  }

}
/*=====  End of HEAD  ======*/
/*===============================
=            SECTION            =
===============================*/

.section-title {
  text-align: left;
}

/*=====  End of SECTION  ======*/


/*============================
=         HEAD / HERO        =
============================*/

.section-header {

  background-size: cover;

}


/*=====  End of HEAD  ======*/


/*===============================
=            ABOUT              =
===============================*/

.section-about {

  .section-body {
    font-size: 1.5 * $med-font-size;

    .smaller {
      font-size: $med-font-size;
    }
  }



}




/*===============================
=            TICKETS            =
===============================*/


.section-tickets {

  .ticket-button-wrap {

    flex-direction: row;
    justify-content: space-between;
    margin: $spacing-unit auto;

  }

  tito-button {
    width: auto;
    min-width: calc(25% - 1rem);
  }

  .ticket-content-wrap {
    text-align: left;
  }



}


/*=====  End of TICKETS  ======*/

.section-program-button-hit-me-one-more-time {
  display: none;
}

/*================================
=            Partners            =
================================*/

.section-partners {

  .grid__partners {

    display: -ms-grid;
    display: grid;
    grid-gap: $grid-gap;

    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(4,1fr);

    align-items: center;
    justify-items: center;

    margin: 2*$spacing-unit auto;

  }

}

/*=====  End of Partners  ======*/

/*==============================
=            FOOTER            =
==============================*/

.section-footer {

  ul {
    flex-direction: row;
    align-items: left;
    line-height: inherit;

    li {

      font-size: $tiny-font-size;

      &:after {
        content: $content-middot;
        margin-left: 10px;
      }

      &:last-child:after {
        display: none;
      }
    }


  }


}

/*=====  End of FOOTER  ======*/


/*================================
=            OVERLAYS            =
================================*/

.overlay {
  max-width: $max-menu-width;
  margin-left: auto;

}

.overlay-menu {

  top: 0;
  opacity: 1;

  overflow: scroll;

  .overlay-toggle {
    display: none;
  }

  .tab-content {
  }

  .program-body {
    margin-top: $spacing-overlaybar;
  }

  .nav-days {
    top: 1.5rem;
  }

}


.overlay-program-day-head {
  padding-top: 0;
  border-top: none;
}

.overlay-head__program {
  background-color: $secondary_color;
  position: fixed;
  width: 100%;
}

/**
 *
 * Signup
 *
 */


.overlay-signup {

}



/*=====  End of OVERLAYS  ======*/


/*==================================
=            EVENT PAGE            =
==================================*/

.page-event {

  .overlay-head {
    font-size: 1rem;
  }

  .overlay-head__event {

    width: calc(100% - #{$max-menu-width});

    padding-left: 2rem;

    background: $black;
    color: $white;

    .mobile-header {
      display: none;
    }

    .desktop-header {
      display: flex;
      width: 100%;

      div:first-child {
        width: 40%;
      }

      .sub {
        text-transform: capitalize;
      }

      .meta {
      }
    }

    .title {
      font-family: $ff-sans;
      &:before {
        display: none;
      }

    }

    .sub {
      font-family: $ff-century;
      font-size: 1rem;
      &:before {
        content: $content-middot;
        margin-right: 3px;
      }
    }

    .time {
      font-family: $ff-sans;
      color: $primary-color;
    }

    .location,.capacity {
      font-family: $ff-sans;
    }

  }

  .overlay-toggle {
    background-color: $black;
  }

  .vertical-bar {
    left: 0;
    right: auto;
  }

  .event-host {

    -webkit-transform: rotate(-90deg) translateX(-50%);

            transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;

    left: 30px;
    right: auto;
  }

  .event-page-meta {
  }

  .event-page-body {
    padding-top: 0;

  }

  .container-fluid {
    padding: 0;
    width: calc(100% - #{$spacing-overlaybar} - 2.5 * #{$spacing-unit});
    margin-left: $spacing-overlaybar + $spacing-unit ;
  }

  .event-page-intro,
  .event-page-content {
    &:before {
      border-top: none;
    }
  }

  .event-page-content-section__outro {
    display: flex;
  }

  .event-page-outro {
    max-width: 50%;
    padding-right: $spacing-unit;
  }

  .event-page-media {
    max-width: 50%;
  }

  .event-page-signup-button {
  }


}



/*=====  End of EVENT PAGE  ======*/
