/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}


@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}


/**
 * Basic styling
 */
 body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}


/**
 * Images
 */
 img {
  max-width: 100%;
}



/**
 * Figures
 */
 figure > img {
  display: block;
}

figcaption {
  font-size: $tiny-font-size;
}


/**
 * Lists
 */
 ul, ol {
}

li {
  > ul,
  > ol {
   margin-bottom: 0;
 }
}

button {

      border: none;
      outline: 0;
      white-space: nowrap;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      background-image: none;
      background-color: transparent;

}


/**
 * Headings
 */
 h1, h2, h3, h4, h5, h6 {
}



/**
 * Links
 */
 a {

  color: $black;
  text-decoration: none;

  &:visited {
    color: $black;
  }

  &:hover {
    color: $black;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

}


.page-header, .overlay-head__event {

  a {
    color: $white;

    &:visited {
      color: $white;
    }

    &:hover {
      color: $white;
    }

    &:focus {
      color: $white;
    }
  }

}



/*=========================================
=            UTILS AND HELPERS            =
=========================================*/

@mixin underline($color) {
  border-bottom: 2px solid $color;
}

@mixin linebreak() {
  &:after {
    content: "\A";
    white-space: pre;
  }
}

.text-color-primary {
  color: $primary-color;
}

/*============================
=         HEAD / HERO        =
============================*/

.section-header {

  position: relative;

  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 9.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  text-align: center;
  color: white;

  .page-header {
    /* bootstrap resets*/
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
  }


  .hero-carousel {
    min-height: $hero-min-height;
  }

  .carousel-cell {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    min-height: $hero-min-height;
    justify-content: space-around;

    padding-top: $spacing-overlaybar;
    padding-bottom: $spacing-overlaybar;

  }

  .site-title, .site-subtitle {
    margin: $spacing-unit auto;
    display: block;
    position:absolute;
  }

  .site-title {
    top: 0; left: 0; right: 0;
  }

  .site-subtitle {
    bottom: 0; left: 0; right: 0;
  }


  /* first frame*/
  .retune,
  .festival,
  .art,
  .technology,
  .design,
  .talks,
  .installations {
    font-size: $big-font-size;
  }

  .retune {
    @include underline($white);
    align-self: flex-end;
  }

  .festival {
    @include underline($white);
    align-self: flex-start;
  }

  .for-art {
    -ms-grid-row-align: center;
        align-self: center;
  }

  .and-design {
    align-self: flex-end;
  }

  .technology {
    align-self: flex-start;
  }

  .subs {
    font-size: $tiny-font-size;
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
    display: inline-block;
  }

  .and-design .and {
    display: block;
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
    text-align: left;
  }

  /* second frame*/
 .intro {
    font-size: $med-font-size;
    text-align: left;
 }

 .intro-1 {
    align-self: flex-start;
 }

 .intro-2 {
    align-self: flex-end;
    max-width: 66%;

 }

 /* third frame*/
 .talks {
  align-self: flex-end;
 }

  .installations {
    align-self: flex-start;
    text-align: left;
  }

  .satellites {
    align-self: flex-end;
    font-size: $med-font-size;
  }

}

.section-header.section-header__bg1 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 9.png');
}
.section-header.section-header__bg2 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 2.png');
}
.section-header.section-header__bg3 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 3.png');
}
.section-header.section-header__bg4 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 4.png');
}
.section-header.section-header__bg5 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 5.png');
}
.section-header.section-header__bg6 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 6.png');
}
.section-header.section-header__bg7 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 7.png');
}
.section-header.section-header__bg8 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 8.png');
}
.section-header.section-header__bg9 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 9.png');
}
.section-header.section-header__bg10 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy 10.png');
}
.section-header.section-header__bg11 {
  background-image: url('../img/backgrounds/RTN_18_BG_1 Copy.png');
}
.section-header.section-header__bg12 {
  background-image: url('../img/backgrounds/RTN_18_BG_1.png');
}



/*=====  End of HEAD  ======*/

/*============================
=            SECTIONS            =
============================*/

.header, .section, .footer {

}

.section-title {
  font-family: $ff-century;
  font-size: $small-font-size;
  margin: $spacing-unit auto;
  text-align: center;

}

.section-subtitle {

  font-size: $small-font-size;

}

/*=====  End of SECTIONS  ======*/



/*===============================
=            PROGRAM            =
===============================*/

.section-program {

  .section-title__program {
      text-align: left;
  }

  /* the event teaser carousel */
  .event-carousel {

    .carousel-cell {
      width: 70%;

      margin-left: 5px;
      margin-right: 5px;

    }

    .carousel-image {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

  }

  .event-carousel-nav {
    margin-top: $spacing-unit;
    margin-bottom: 2 * $spacing-unit;

  }

  .event-carousel-nav-item {
    font-family: $ff-century;
    margin-bottom: 0.5rem;

    a {
      @include underline(transparent);
      display: inline-block;
    }
  }

  .event-carousel-nav-item.is-selected a {
    @include underline($primary-color);
  }

  .event-host {
    font-size: $med-font-size;
    a,a:visited,a:focus,a:hover {
      color: $primary-color;
    }
  }

}

/*=============================
=            ABOUT            =
=============================*/

.section-about {

  background-image: url('../img/backgrounds/Retune_BG_Visual_Serie_10.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;

  padding-bottom: 2 * $spacing-unit;

  .section-title {
    font-family: $ff-century;
  }

  .section-body {
    font-size: $med-font-size;
  }
}

/*===============================
=            TICKETS            =
===============================*/

.section-tickets {

  background: $black;
  color: $white;

  .section-title {
    color: $primary-color;
  }

  .ticket-button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $spacing-unit auto;
  }

  tito-button {
    width: 100%;
  }


  .tito-tickets-button {

      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;

      width: 100%;
      margin: 0 auto 0.5rem auto;
      padding: 1rem 2rem;

      text-align: center;

      border: $line-width solid $white;
      border-radius: 8px;

      .price {
        color: $primary-color;
      }

      &:hover {
        background: $white;
        color: $black;
      }
  }

  .ticket-content-wrap {
    text-align: center;
  }


}



.section-program-button-hit-me-one-more-time {

  background-image: url('../img/backgrounds/Retune_BG_Visual_Serie_9.png');
  background-color: $secondary-color;

  background-position: 70% 60%;

  .section-title {
    text-align: center;
    color: $white;
    font-size: $med-font-size;
  }

}



/*================================
=            Partners            =
================================*/

.section-partners {
  .section-title {
    font-family: $ff-sans;
  }

  .grid__partners {

    display: -ms-grid;
    display: grid;
    grid-gap: $grid-gap;

    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3,1fr);

    align-items: center;
    justify-items: center;

    margin: 2*$spacing-unit auto;

  }

  .partner-logo-wrap {

    position: relative;

    .partner-logo {
      display: block;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      //background-color: $primary-color;
      //mix-blend-mode: multiply;

      }

  }
}

/*==============================
=            FOOTER            =
==============================*/

.section-footer {
  margin-bottom: $spacing-overlaybar;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
  }

  li {
    font-size: $small-font-size;
  }
}

/*=====  End of FOOTER  ======*/


/*=============================
=           OVERLAYS          =
==============================*/


.overlay {
  background: white;
  transition: top $animation-speed, opacity $animation-speed;
  transition-timing-function: ease-out;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 100%;
  bottom:0;
  left:0;
  right:0;
  overflow: hidden;

}

.overlay.active {
  top:0;
  opacity: 1;
  overflow-y: scroll;
}

body.overlay-active,
body.scroll-lock  {
  overflow: hidden;
}

.overlay-menu {
  z-index: 5000;
  top:calc( 100% - #{$spacing-overlaybar} );
  opacity: 1;

  &.active {
    /* overflow: hidden;*/
  }

  .tab-content {
    /* overflow-y: scroll;*/
    /* max-height: 100vh;*/
  }
}

.overlay-signup {
  z-index: 6000;
}

.overlay-content {
  z-index: 5001;
}


.overlay-head {

  display: flex;
  flex-direction: row;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;

  min-height: $spacing-overlaybar;

  background-color: $primary-color;
  font-size: $small-font-size; /* 18px;*/
  font-family: $ff-century;

  padding-left: 1rem;

  z-index: 3000;

  .title {
    text-transform: capitalize;
    &:before {
      content: $content-middot;
      margin-right: 3px;
    }
  }

}

.overlay-head__event {

  position: fixed;
  top: 0;
  width: 100%;

  background-color: $third-color;
  line-height: 1;


  .sub {
    font-family: $ff-sans;
    font-size: $tiny-font-size;
  }

}


.overlay-toggle {
  margin-left: auto;

  height: $spacing-overlaybar;
  width: $spacing-overlaybar;
  background: $secondary-color;
  background-image: url('../img/icons/open.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.overlay.active,
.page-event .overlay-head__event {
  .overlay-toggle {
      background-image: url('../img/icons/close.svg');
  }
}

/* overlay menu = program ;-) */

.overlay-menu {

  .program-body {
    position: relative;
  }

}
.day-nav {

  position: absolute;
  top: 0; right: 0; left: 0;
  padding-top: $spacing-unit;

}

.day-tab {

  display: flex;
  width: 100%;
  margin-bottom: 0;

  li {
    width: calc(50% - 0.5rem);
    text-align:center;
    font-size: $tiny-font-size;
    border: $line-width solid $white;
    border-radius: 8px;
    padding:0;

    &:last-child {
      margin-left: auto;
    }

    a {
      width: 100%;
      display: block;
      padding: 0.5rem 0;
    }

    &.active {
      background: $black;
      a, a:hover, a:visited, a:hover {
        color: white;
      }
    }
  }
}

.overlay-head__program {

}

.overlay-program-day {

  padding-top: 3 * $spacing-unit;
  display: none;

  &.active {
    display: block;
  }

}

.overlay-program-day__1 {
  background-color: $primary-color;
}

.overlay-program-day__2 {
  background-color: $third-color;
}

.overlay-program-day-head {

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  .overlay-program-day-title,
  .overlay-program-day-sub {
    font-family: $ff-century;
    color: $white;
  }

  .overlay-program-day-title {
    font-size: $med-font-size;
    display: block;
  }

}

.event-list {
  margin-bottom: 0;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.event-list-item {

  margin-bottom: 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.event-list-item-meta {

  font-size: $tiny-font-size;
  color: $white;

  display: flex;

  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 45%;
    border-top: $line-width solid $white;
    margin-top: -5px;
  }

  .time {
    color: $white;
  }

  .type {
    margin-left: auto;
    color: $white;
    text-transform: capitalize;
    position: relative;
  }

  .status {
      &:after {

      position: absolute;
      content: "";
      display: block;
      text-transform: none;
      word-break: nowrap;
      text-align: center;
      top: 2.6 * $tiny-font-size;
      right: 0;

      height: 21px;
      width: 21px;
      line-height: 21px;

      border-radius: 21px;
      background: $white;
      color: $primary-color;
    }
  }

  .status__open::after {
    content: "open";
    width: 42px;
    color: $black;
  }

  .status__closed::after {
    content: "sold out";
    width: 63px;
  }

  .status__signup::after {
    display: none;
  }

  .button-signup {

    position: absolute;
    right: 0;
    top: 2.6 * $tiny-font-size;

    height: 21px;
    width: 63px;
    line-height: 21px;
    border-radius: 21px;
    background: $primary-color;
    color: $black;
    text-align: center;
  }

  margin-bottom: 0.2rem;

  .button-signup-public {
    @extend .button-signup;
    background-color: white;
    border: 1px solid $primary-color;
  }

}

.event-list-item-head {

  font-family: $ff-century;
  font-size: $small-font-size;

  line-height: 1.2;
  max-width: calc( 100% - 4rem);

  .host,
  .title {
    @include linebreak();
  }
}

/* workshops/satellites */
// .event-list-item__workshopday {
//   .event-list-item-head {
//     font-size: $tiny-font-size;
//   }
//
//   .title {
//
//     font-size: $small-font-size;
//
//     margin-left: 1.5rem;
//     display: inline-block;
//     position: relative;
//
//     &:before {
//       content: $content-middot;
//       position: absolute;
//       top: -7px;
//       left: -1.5rem;
//       font-size: $med-font-size;
//     };
//   }
//
//   .host {
//     font-size: 13px;
//   }
//
//   .location {
//     font-family: $ff-sans;
//   }
// }

/* event map*/
/* .event-map {*/
/*   height: 70vh;*/
/* }*/

.event-map-marker {
  background:red;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
}

.event-map-marker__highlight {
  background: blue;
}

.event-list-item__highlight a {
  color: blue;
}

.overlay-signup {

}

.overlay-head__signup {
  margin-bottom: $spacing-unit;
}

/*==================================
=            EVENT PAGE            =
==================================*/

.page-event {

  .desktop-header {
    display: none;
  }

  .event-featured-image {
    width: 100%;
  }

  .vertical-bar {
    background-color: $primary-color;
    mix-blend-mode: multiply;
    position: fixed;
    right: 0; top:0;
    z-index: 1000;
    height: 100%;
    width: $spacing-overlaybar;
  }

  .event-host {

    position: fixed;
    z-index:1001;
    color: white;
    right: 0; top: 50vh;
    line-height: $spacing-overlaybar;

    margin-bottom: 0;
    -webkit-transform: rotate(-90deg) translate(50%, -100%);
            transform: rotate(-90deg) translate(50%, -100%);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    font-family: $ff-century;
    font-size: $med-font-size;
    font-weight: 400;

  }

  .event-page-meta {

    font-size: $tiny-font-size;
    line-height: 1.5;
    width: calc(100vw - 1.33 * #{$spacing-overlaybar});

  }

  .event-page-body {
    padding-top: $spacing-overlaybar;
  }


  .event-page-meta-section {

    margin-top: $spacing-unit;
    margin-bottom:  $spacing-unit;

    display: flex;


  }

  .event-page-signup-button {
    margin-right: $spacing-unit;
  }

  .btn.button-signup {
    background-color: $primary-color;
    padding: 0.5rem 1rem;
    text-shadow: none;
    &:hover, &:active, &:focus {
      color: $black;
    }
  }

  .button-public {
    background-color: #FFA682;
    padding: 0.5rem 1rem;
    background: $white;
    color: $black;
    border: 1px solid;
    border-color: $primary-color;
    border-radius: 8px;
    box-shadow: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
  }


  .event-page-content-section {
    margin-top: $spacing-unit;
    margin-bottom:  $spacing-unit;
  }

  .container-fluid {
    width: calc(100% - 1.33 * #{$spacing-overlaybar} + 15px);
    margin-left: 0;
  }

  .event-page-intro {

    margin-top: $spacing-unit;

    font-family: $ff-century;
    font-size: $med-font-size;

    &:before {
      content:"";
      -webkit-transform: translateY(-0.5 * $spacing-unit);
              transform: translateY(-0.5 * $spacing-unit);
      border-top: $line-width solid $black;
      display: block;
      width: 100%;
    }

  }

  .event-page-content {
    margin-top: $spacing-unit;
    margin-bottom:  $spacing-unit;

    font-size: $tiny-font-size;
    line-height: 1.5;

    &:before {
      content:"";
      -webkit-transform: translateY(-0.5 * $spacing-unit);
              transform: translateY(-0.5 * $spacing-unit);
      border-top: $line-width solid $black;
      display: block;
      width: 100%;
    }
  }

  .event-page-images {
    .event-page-image {
      margin-bottom: $tiny-font-size;
      width: 100%;
    }
  }

  .event-page-video {
    margin-bottom: $tiny-font-size;
  }

  .plyr__control--overlaid {
    box-shadow: none;
    background: none;

    svg {
      width: 70px;
      height: 70px;
    }
  }

  .plyr--video .plyr__control.plyr__tab-focus,
  .plyr--video .plyr__control:hover,
  .plyr--video .plyr__control[aria-expanded="true"]
  {
    background: none;
  }

  .event-page-links {
    margin-bottom: $tiny-font-size;
  }

  .event-page-outro {

    font-size: $tiny-font-size;
    line-height: 1.5;

    margin-bottom: $spacing-unit;

    &:before, &:after {
      content:"";
      border-top: $line-width solid $black;
      margin-bottom: 5px;

      display: block;
      width: 100%;
    }
  }

}


/*=====  End of EVENT PAGE  ======*/


.btn {
  background: $white;
  color: $black;
  border: $line-width solid;
  border-color: $black;
  border-radius: 8px;
  box-shadow: none;

  &:hover, &:active, &:focus {
    background: $black;
    border-color: $black;
    color: $white;
  }
}

textarea {
  resize: none;
}

  ::-moz-selection {
  background: $primary-color; /* WebKit/Blink Browsers */
}

::selection {
 background: $primary-color; /* WebKit/Blink Browsers */
}

::-moz-selection {
 background: $primary-color; /* WebKit/Blink Browsers */
}

.form-control::-webkit-input-placeholder {
 color: black;
}

.form-control:-moz-placeholder { /* Firefox 18- */
 color: black;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
 color: black;
}

.form-control:-ms-input-placeholder {
 color: black;
}
