---
layout: default
hideMenu: false
bodyclass: event-single
---


<div id="ajax-content" class="page-event">

  {% assign workshop-day = '2018-09-28' | date: '%s' %}
  {% assign event-day = page.eventdate | date: '%s' %}
  {% if event-day < workshop-day %}
    {% assign day = "conferenceday" %}
  {% else %}
    {% assign day = "workshopday" %}
  {% endif %}

  <!-- => event-day: {{event-day}} // workshop-day:{{workshop-day}} -->
  {% if event-day > workshop-day %}
    {% capture subsub %}
      <span class="time">{{ page.eventtime }}, {{ page.eventdate | date: "%d. %B" }}</span> <br> <span class="capacity">Capacity: {{ page.eventcapacity }}</span>
      <!-- => workshop! event-day: {{event-day}} // workshop-day:{{workshop-day}} -->
    {% endcapture %}
  {% else %}
    {% capture subsub %}
      <span class="time">{{ page.eventdate | date: "%d. %B" }}, {{ page.eventtime }}</span>  <br> <span class="location">{{ page.eventlocation }} – {{ page.eventstage }}</span>
      <!-- => talk! event-day: {{event-day}} // workshop-day:{{workshop-day}} -->
    {% endcapture %}
  {% endif %}

  <div class="overlay-head overlay-head__event">

    <div class="wrap mobile-header">
      <span class="title">{{ page.type }}</span><br>
      <span class="sub">{{ subsub  }}</span>
    </div>

    <div class="wrap desktop-header">
      <div class="">
        <span class="title">
          <a class="site-title" href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a>
        </span><br>
        <span class="sub">{{ page.type  }}</span>
      </div>
      <span class="meta">{{ subsub  }}</span>
    </div>

    <button class="overlay-toggle text-hide">X</button>

    </div>

  <div class="vertical-bar"></div>
  <h1 class="event-host">{{ page.host }}</h1>

    <article class="event-page-body">

      {% if page.imagefolder %}
      {% assign images = "" | split: ',' %}
        {% for image in site.static_files %}
           {% if image.path contains page.imagefolder %}
              {% assign images = images | push: image %}
           {% endif %}
        {% endfor %}
      {% endif %}

      {% for img in images %}
        {% if forloop.first %}
          {% picture {{ img.path }} class="event-featured-image" %}
        {% endif %}
      {% endfor %}

      {% if event-day >= workshop-day %}

      <div class="container-fluid event-page-meta-section">

            {% if page.eventstatus == 'signup' and page.eventtitorelease  %}

            <div class="event-page-signup-button">
              <button class="button-signup btn btn-primary" data-type="{{ page.eventstatus }}" data-release="{{ page.eventtitorelease }}" data-event="{{ page.eventtitoevent }}">sign up!</button>
            </div>

            {% elsif day == "workshopday" or event.eventstatus == "public" %}
            <div class="event-page-signup-button">
              <button class="button-signup button-public btn btn-primary" data-type="{{ page.eventstatus }}" data-release="{{ page.eventtitorelease }}" data-event="{{ page.eventtitoevent }}">public</button>
            </div>
            {% endif %}

            <div class="event-page-meta">
              {{ page.eventlocation }}<br>
              {{ page.eventaddress }}
            </div>

      </div>
      {% endif %}

      {% if page.intro %}
      <div class="container-fluid event-page-content-section">

            <div class="event-page-intro">

                {{ page.intro | markdownify }}

            </div>

      </div>
      {% endif %}

      {% unless page.content == blank %}
      <div class="container-fluid event-page-content-section">

            <div class="event-page-content">
              {{ page.content }}
            </div>

      </div>
      {% endunless %}

      <div class="container-fluid event-page-content-section event-page-content-section__outro">

            <div class="event-page-outro">
              {% if page.links %}
                <div class="event-page-links">
                  {% for link in page.links %}
                    <a href="{{ link.url }}">{{ link.name }}</a>
                  {% endfor %}
                </div>
              {% endif %}

              {{ page.outro | markdownify }}
            </div>

            <div class="event-page-media">

              {% if page.imagefolder %}
              {% assign images = "" | split: ',' %}
              {% for image in site.static_files %}
                 {% if image.path contains page.imagefolder %}
                    {% assign images = images | push: image %}
                 {% endif %}
              {% endfor %}
              {% endif %}


              {% if images %}

              <div class="event-page-images">
                 {% for img in images %}
                      {% unless forloop.first %}
                        {% picture {{ img.path }} class="event-page-image" %}
                      {% endunless %}
                    {% endfor %}
              </div>
              {% endif %}

              {% for video in page.videos %}
                <div class="event-page-video">
                  <div class="plyr" data-plyr-provider="{{ video.provider }}" data-plyr-embed-id="{{ video.url }}" ">
                  </div>
                </div>
              {% endfor %}

            </div>

      </div>

    </article>

    <div class="container-fluid event-page-content-section">
      {% include footer.html %}
    </div>

</div>
