<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  {% include head.html %}

  <body class='page-generic'>

    <header class="section-header">
      <div class="page-header">
          <div class="wrap desktop-header">
            <div class="">
              <a class="site-title" href="{{ site.url }}{{ site.baseurl }}/">
                {{ site.title }}
              </a>

              <p class="site-subtitle">
                <span>September 27-28,</span>
                <span>Berlin</span>
              </p>
            </div>
          </div>
          <a href="{{ site.baseurl }}/tickets.html" class="get-ticket">get ticket!</a>
      </div>

    </header>

    <div class="body-content">
      <div class="container-fluid">
        {{ content }}
      </div>
    </div>

    {% unless layout.hideMenu %}
      {% include overlay-menu.html %}
    {% endunless %}

    <div class="container-fluid">
      {% include footer.html %}
    </div>

    {% include foot-js.html %}

  </body>

</html>
